@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional global styles */
body {
  @apply bg-slate-950 text-slate-100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
